.btn {
    background-color: #2297c3;
    width: 120px;
    padding: 10px 10px 10px 16px;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    width: 140px;
    padding: 10px 10px 10px 16px;
    transition: 0.5s ease-in-out;
}

.btn a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.btn1 {
    background-color: #2297c3;
    width: 120px;
    padding: 10px 10px 10px 16px;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
    color: white;
}

.btn1:hover {
    width: 140px;
    padding: 10px 10px 10px 16px;
    transition: 0.5s ease-in-out;
    letter-spacing: 2px;
}